---
import NavLink from '@components/docs/nav/NavLink.astro'
---

<nav>
  <p class="mb-1 ml-4 text-sm font-medium opacity-60">Overview</p>
  <div>
    <NavLink name="Introduction" href="/docs/" />
    <NavLink name="Getting Started" href="/docs/getting-started/" />
    <!-- <NavLink name="Overview" href="/docs/overview/" /> -->
  </div>
  <p class="mb-1 ml-4 mt-6 text-sm font-medium opacity-60">Animation</p>
  <div>
    <NavLink name="Animation" href="/docs/animation/overview/" />
    <NavLink name="Callback" href="/docs/animation/animation-callback/" />
    <NavLink name="Controller" href="/docs/animation/animation-controller/" />
  </div>
  <p class="mb-1 ml-4 mt-6 text-sm font-medium opacity-60">Primitives</p>
  <div> </div>
  <p class="mb-1 ml-4 mt-6 text-sm font-medium opacity-60">Examples</p>
  <div>
    <NavLink name="Hover Card" href="/docs/examples/hover-card/" />
  </div>
</nav>
