html {
  --arara-text-dark: 207 43% 4%;
  --arara-text: 207 43% 4%;
  --arara-bg: 202 52% 96%;
  --arara-100: 206 94% 94%;
  --arara-200: 205 78% 85%;
  --arara-300: 202 72% 80%;
  --arara-400: 202 62% 70%;
  --arara-blue: 203 80% 82%;
  --arara-pink: 303 80% 82%;
  --arara-link: 205 91% 35%;
  --arara-link-hover: 205 95% 50%;

  scrollbar-color: hsl(var(--arara-300)) hsl(var(--arara-100));
}

html.dark {
  color-scheme: dark;
  --arara-text: 203 29% 95%;
  --arara-bg: 209 32% 13%;
  --arara-100: 205 94% 15%;
  --arara-200: 205 84% 20%;
  --arara-300: 210 32% 55%;
  --arara-400: 210 32% 55%;
  --arara-blue: 210 54% 30%;
  --arara-pink: 310 44% 40%;
  --arara-link: 205 85% 65%;
  --arara-link-hover: 205 85% 95%;
}

.changing-theme,
.changing-theme * {
  transition: none !important;
}

@font-face {
  font-family: 'Mona Space';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: url('/fonts/MonaspaceNeon-Regular-v1.101.woff2') format('woff2');
}

