---
import HeaderLogoDark from '@assets/title_with_logo_dark.svg'
import HeaderLogoLight from '@assets/title_with_logo_light.svg'
import LogoDark from '@assets/logo_dark.svg'
import LogoLight from '@assets/logo_light.svg'
import { cn } from '@lib/cn'

interface Props {
  tiny?: boolean
  className?: string
}

const { tiny = false, className } = Astro.props
---

<div class={cn('w-fit lg:pointer-events-auto', className)}>
  <a href="/" class="block">
    <span class="sr-only">arara</span>
    <img
      src={tiny ? LogoDark.src : HeaderLogoDark.src}
      alt="arara logo"
      height={tiny ? 32 : 42}
      width={tiny ? 32 : 136}
      class="dark:hidden"
    />
    <img
      src={tiny ? LogoLight.src : HeaderLogoLight.src}
      alt="arara logo"
      height={tiny ? 32 : 42}
      width={tiny ? 32 : 136}
      class="hidden dark:block"
    />
  </a>
</div>
